/*===============================
=            Choices            =
===============================*/
.choices {
	position: relative;
}

.rd-choices {
	margin-bottom: 24px;
	font-size: 16px;
	background-color: #FFF;
	height: 38px;
}

[class^="rdstation-popup-position"]:not(.floating-button) .choices {
	height: 45px;
}

.choices:focus {
	outline: none;
}

.choices:last-child {
	margin-bottom: 0;
}

.choices.rd-is-disabled .rd-choices__inner,
.choices.rd-is-disabled .rd-choices__input {
	background-color: #EAEAEA;
	cursor: not-allowed;
	user-select: none;
}

.choices.rd-is-disabled .rd-choices__item {
	cursor: not-allowed;
}

.choices[data-type*="select-one"] {
	cursor: pointer;
}

	.choices[data-type*="select-one"] .rd-choices__inner {
		padding-bottom: 7.5px;
	}

	.choices[data-type*="select-one"] .rd-choices__input {
		display: block;
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid #DDDDDD;
		background-color: #FFFFFF;
		margin: 0;
	}

	.choices[data-type*="select-one"] .rd-choices__button {
		background-image: url('');
		padding: 0;
		background-size: 8px;
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -10px;
		margin-right: 25px;
		height: 20px;
		width: 20px;
		border-radius: 10em;
		opacity: .5;
	}

		.choices[data-type*="select-one"] .rd-choices__button:hover, .choices[data-type*="select-one"] .rd-choices__button:focus {
			opacity: 1;
		}

		.choices[data-type*="select-one"] .rd-choices__button:focus {
			box-shadow: 0px 0px 0px 2px #00BCD4;
		}

	.choices[data-type*="select-one"]:after {
		content: "";
		height: 0;
		width: 0;
		border-style: solid;
		border-color: #333333 transparent transparent transparent;
		border-width: 5px;
		position: absolute;
		right: 11.5px;
		top: 50%;
		margin-top: -2.5px;
		pointer-events: none;
	}

	.choices[data-type*="select-one"].rd-is-open:after {
		border-color: transparent transparent #333333 transparent;
		margin-top: -7.5px;
	}

	.choices[data-type*="select-one"][dir="rtl"]:after {
		left: 11.5px;
		right: auto;
	}

	.choices[data-type*="select-one"][dir="rtl"] .rd-choices__button {
		right: auto;
		left: 0;
		margin-left: 25px;
		margin-right: 0;
	}

.choices[data-type*="select-multiple"] .rd-choices__inner,
.choices[data-type*="text"] .rd-choices__inner {
	cursor: text;
}

.choices[data-type*="select-multiple"] .rd-choices__button,
.choices[data-type*="text"] .rd-choices__button {
	position: relative;
	display: inline-block;
	margin-top: 0;
	margin-right: -4px;
	margin-bottom: 0;
	margin-left: 8px;
	padding-left: 16px;
	border-left: 1px solid #008fa1;
	background-image: url('');
	background-size: 8px;
	width: 8px;
	line-height: 1;
	opacity: .75;
	border-radius: 0;
}

	.choices[data-type*="select-multiple"] .rd-choices__button:hover, .choices[data-type*="select-multiple"] .rd-choices__button:focus,
	.choices[data-type*="text"] .rd-choices__button:hover,
	.choices[data-type*="text"] .rd-choices__button:focus {
		opacity: 1;
	}

/* .rd-choices__inner {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			background-color: #f9f9f9;
			padding: 7.5px 7.5px 3.75px;
			overflow: hidden;
		  } */

.rd-choices__inner {
	border-radius: 2.5px;
	font-size: 14px;
	min-height: 38px;
	border: 1px solid #5897fb;
}

.rd-is-focused .rd-choices__inner,
.rd-is-open .rd-choices__inner {
	border-color: #5897fb !important;
}

.rd-is-open .rd-choices__inner {
	border-radius: 2.5px 2.5px 0 0 !important;
	border-bottom: none !important;
}

.rd-is-flipped.rd-is-open .rd-choices__inner {
	border-radius: 0 0 2.5px 2.5px !important;
	border-bottom: 1px solid #5897fb !important;
}

.choices__list {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.rd-choices__list {
	padding: 4px !important;
}

.rd-choices__list--single {
	display: inline-block;
	padding: 4px 16px 4px 4px;
	width: 100%;
	line-height: 28px !important;
}

[class^="rdstation-popup-position"]:not(.floating-button) .rd-choices__list--single {
	line-height: 35px !important;
}

[dir="rtl"] .rd-choices__list--single {
	padding-right: 4px;
	padding-left: 16px;
}

.rd-choices__list--single .rd-choices__item {
	width: 100%;
}

.rd-choices__list--multiple {
	display: inline;
}

	.rd-choices__list--multiple .rd-choices__item {
		display: inline-block;
		vertical-align: middle;
		border-radius: 20px;
		padding: 4px 10px;
		font-size: 12px;
		font-weight: 500;
		margin-right: 3.75px;
		margin-bottom: 3.75px;
		background-color: #00BCD4;
		border: 1px solid #00a5bb;
		color: #FFFFFF;
		word-break: break-all;
	}

		.rd-choices__list--multiple .rd-choices__item[data-deletable] {
			padding-right: 5px;
		}

[dir="rtl"] .rd-choices__list--multiple .rd-choices__item {
	margin-right: 0;
	margin-left: 3.75px;
}

.rd-choices__list--multiple .rd-choices__item.rd-is-highlighted {
	background-color: #00a5bb;
	border: 1px solid #008fa1;
}

.rd-is-disabled .rd-choices__list--multiple .rd-choices__item {
	background-color: #aaaaaa;
	border: 1px solid #919191;
}

.choices__list--dropdown {
	position: absolute;
	width: 100%;
	top: 100%;
	margin-top: -1px;
	overflow: hidden;
	word-break: break-all;
}

.rd-choices__list--dropdown {
	display: none;
	z-index: 999999 !important;
	background-color: #FFFFFF;
	border-bottom-left-radius: 2.5px;
	border-bottom-right-radius: 2.5px;
	border-bottom: 1px solid #cacaca !important;
	border-left: 1px solid #cacaca !important;
	border-right: 1px solid #cacaca !important;
}

	.rd-choices__list--dropdown.rd-is-active {
		display: block;
		border-bottom: 1px solid #5897fb !important;
		border-left: 1px solid #5897fb !important;
		border-right: 1px solid #5897fb !important;
		margin-top: -1px !important;
	}

.rd-is-open .rd-choices__list--dropdown {
	border-color: #b7b7b7;
}

.rd-is-flipped .rd-choices__list--dropdown {
	top: auto;
	bottom: 100%;
	margin-top: 0;
	margin-bottom: -1px !important;
	border-radius: .25rem .25rem 0 0;
	border-top: 1px solid #5897fb !important;
	border-bottom: none !important;
}

.rd-choices__list--dropdown .rd-choices__list {
	position: relative;
	max-height: 300px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	will-change: scroll-position;
}

.rd-choices__list--dropdown .rd-choices__item {
	position: relative;
	padding: 10px;
	font-size: 14px;
	padding: 5px !important;
}

[dir="rtl"] .rd-choices__list--dropdown .rd-choices__item {
	text-align: right;
}

@media (min-width: 640px) {
	.rd-choices__list--dropdown .rd-choices__item--selectable {
		padding-right: 100px;
	}

		.rd-choices__list--dropdown .rd-choices__item--selectable:after {
			content: attr(data-select-text);
			font-size: 12px;
			opacity: 0;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
		}

	[dir="rtl"] .rd-choices__list--dropdown .rd-choices__item--selectable {
		text-align: right;
		padding-left: 100px;
		padding-right: 10px;
	}

		[dir="rtl"] .rd-choices__list--dropdown .rd-choices__item--selectable:after {
			right: auto;
			left: 10px;
		}
}

.rd-choices__list--dropdown .rd-choices__item--selectable.rd-is-highlighted {
	background-color: #3875d7 !important;
	color: #fff !important;
}

	.rd-choices__list--dropdown .rd-choices__item--selectable.rd-is-highlighted:after {
		opacity: .5;
	}

.rd-choices__item {
	cursor: default;
}

	.rd-choices__item img {
		width: 26px;
		display: unset;
	}

.rd-choices__item--selectable {
	cursor: pointer;
}

.rd-choices__item--disabled {
	cursor: not-allowed;
	user-select: none;
	opacity: .5;
}

.choices__heading {
	font-weight: 600;
	padding: 10px;
}

.rd-choices__heading {
	font-size: 12px;
	border-bottom: 1px solid #f7f7f7;
	color: gray;
}

.rd-choices__button {
	text-indent: -9999px;
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

	.rd-choices__button:focus {
		outline: none;
	}

.rd-choices__input {
	display: inline-block;
	vertical-align: baseline;
	background-color: #f9f9f9;
	border: 1px solid #aaa !important;
	font-size: 14px;
	margin-bottom: 5px;
	border: 0;
	border-radius: 0;
	max-width: 100%;
	padding: 4px 0 4px 2px;
	margin-top: 6px;
	height: 28px !important;
}

	.rd-choices__input:focus {
		outline: 0;
	}

[dir="rtl"] .rd-choices__input {
	padding-right: 2px;
	padding-left: 0;
}

.rd-choices__placeholder {
	opacity: .5;
}

.rd-choices__input.is-hidden,
.choices[data-type*="select-one"] .rd-choices__input.is-hidden,
.choices[data-type*="select-multiple"] .rd-choices__input.is-hidden {
	display: none !important;
}

/*=====  End of Choices  ======*/